EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here

EXPO_PUBLIC_SUPABASE_URL=https://fjppbkxrwdhrgwhzkpmc.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_hX-86NlHmJ8PGTxLAtnI8A_qow4QA20